doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title FrontendApp
  link(rel='stylesheet', href="css/fontawesome.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css')
body
  .sheet
    header.header
      .logo
    section.task-container      
      input(type="text" name="newTask" id="js-newTask" placeholder="Ingresa una tarea" autofocus)
      input(type="button" value="Add" class="btn-add" id="js-addButton")     
    section.main-container
      ul#todoList.todoList
    script(src='js/main.js')
