$plate: #f7f7f7;
$borders: #c44100;
$shadow: #e3e3e3;


html, body {
	height: 100%;
}

body {
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	background-color: #fff
}

.sheet {
	background-color: #fff;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 40px;
	border-radius: 10px;
	box-shadow: 0px 0px 85px -10px #888;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
	background-image: url('/images/todo-logo.png');
	background-size: cover;
	width: 150px;
	height: 50px;
}

.task-container {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	margin: 0 50px;
}

.task-container input[type="text"] {
	box-shadow: -2px 2px 5px $shadow;
	outline: none;
	border: 2px solid $borders;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
}

.btn-add {
	box-sizing: border-box;
	border: 2px solid $borders;
	background-color: #fff;
	border-radius: 5px;
	margin: 0 10px;
	box-shadow: 2px 2px 5px $shadow;
	transition: all 0.5s ease-out;
}

.btn-add:focus {
	outline: none;
}

.btn-add:active {
	box-shadow: none;
}

.action-button {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.main-container {
	max-width: 800px;
	margin: 0 auto;
}

.todoList {
    counter-reset: item;
    list-style-type: none;
    padding: 0 20px;
}

.todoList li:before {
    content: counter(item) "  ";
    counter-increment: item;
    margin-right: 10px;
}

.todoList li {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
}

.todoList li:nth-child(even) {
  background-color: #ebe6e6;
}

.todoList li:nth-child(odd) {
  background-color: #c1bbbb;
}


.todoList-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.checkbox-item + label{
  position: relative;
  margin-left: 5px;
  vertical-align: middle;
}

.checkbox-item:checked + label{
  text-decoration:line-through;
}
